# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# runtime data (lowdb store is generated at runtime)
/data/*.json

# misc
.DS_Store
*.pem
.vscode/
.idea/

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*.local
.env

# typescript
*.tsbuildinfo

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
